<h1>Books</h1>
<span>Title</span>
<span>Body</span>
<% @books.each do |book| %>
  <p><%= book.title %></p>
  <p><%= book.body %></p>
  <p><%= link_to "Show", book_path(book.id) %></p>
  <p><%= link_to "Edit", edit_book_path(book.id) %></p>
<% end %>


<h1>New book</h1>

<%= form_with model: @book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Body</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>
